{% extends "base.html" %}

{% block content %}

<div style="width: 600px;">
    <h2 style="text-align:center;">📊 Case Dashboard</h2>

    {% if cases %}
        {% for case in cases %}
        <div class="card">
            <h3>{{ case.case_name }}</h3>
            <p>User: {{ case.user_name }}</p>
            <p>Case ID: {{ case.case_id }}</p>
            <p>Hash: {{ case.dump_hash }}</p>
            <p>File: {{ case.filename }}</p>
        </div>
        {% endfor %}
    {% else %}
        <p>No cases yet</p>
    {% endif %}
</div>

{% endblock %}