{% extends "base.html" %}

{% block content %}

<div class="dashboard-container">

    <h2 class="dashboard-title">🧠 Threat Analysis Dashboard</h2>

    {% if cases %}
        {% for case in cases %}

        <!-- 🔴 HIGH THREAT ALERT -->
        {% if case.severity == "High" %}
        <div class="alert high-alert">
            🚨 HIGH THREAT DETECTED
        </div>
        {% endif %}

        <div class="card animate-card {{ case.severity|lower }}-card">

            <h3>{{ case.case_name }}</h3>

            <p>👤 {{ case.user_name }}</p>
            <p>🆔 {{ case.case_id }}</p>
            <p>🔐 {{ case.dump_hash }}</p>
            <p>📁 {{ case.filename }}</p>

            <p>
              Severity:
              <span class="badge {{ case.severity|lower }}">
                {{ case.severity }}
              </span>
            </p>

        </div>

        {% endfor %}
    {% else %}
        <p>No cases yet</p>
    {% endif %}

</div>

{% endblock %}